<div class="clear"></div>
<!-- INFORMATIONS DE BAS DE PAGE -->
<footer class="footer">{$DC_COPYRIGHT}</footer>
</section>

<!-- LIBRAIRIES JAVASCRIPT -->
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/html5.js"></script>
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/modernizr-2.5.3.min.js"></script>
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/tinypop.min.js"></script>
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/jquery.poshytip.min.js"></script>
<!-- FICHIER PRINCIPALE JAVASCRIPT -->
<script type="text/javascript" src="{$JAVASCRIPT_PATH}/main.js"></script>

<!-- DIV UTILISEES PAR JAVASCRIPT -->
<div id="dialog"><p></p></div>
<div id="debug" class="debug"></div>

</body>
</html>