
*{
	margin:0;
	padding:0;
}





html{
	min-height:100%;
	position:relative;
}

body{
	color:#fff;
	margin:0px
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}


a,a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}


h1{
	color:#cecece;
	margin:0px 5px 5px 10px;
	font-size:16px;
	text-shadow:1px 2px 2px #080808
}
h2{
	color:#ffffff;
	margin:0px 5px 5px 10px;
	font-size:10px;
	text-shadow:1px 2px 2px #080808;
	cursor:pointer;
}

.eventBloc{
	padding:10px;
	margin-top:5px;
	margin-bottom:5px;
	-webkit-box-shadow: inset 1px -1px 2px 1px #101010;
	-moz-box-shadow: inset 1px -1px 2px 1px #101010;
	box-shadow: inset 1px -1px 2px 1px #101010; 
	background: #272727; /* Old browsers */
	background: -moz-linear-gradient(top,  #272727 0%, #181818 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272727), color-stop(100%,#181818)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #272727 0%,#181818 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #272727 0%,#181818 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #272727 0%,#181818 100%); /* IE10+ */
	background: linear-gradient(top,  #272727 0%,#181818 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#181818',GradientType=0 ); /* IE6-9 */
}


.eventBloc img{
	width:27px;
	height:27px;
	-webkit-box-shadow: inset 1px -1px 1px 1px #101010;
	-moz-box-shadow: inset 1px -1px 1px 1px #101010;
	box-shadow: inset 1px -1px 1px 1px #101010; 
	float:left;
	margin-top:7px;
	margin-right:10px;

	}
.eventBloc h1{

}
.eventBloc h2{

}
.eventBloc .doubleLine{
	clear:both;
	height:1px;
	background-color:#181819;
	border-bottom:1px solid #353535;
	width:350px;
	margin-top:5px;
	margin-bottom:5px;
}
.eventBloc p{
	font-size:15px;
}
.eventBloc span{
	color:#c8c8c8;
	font-size:11px;
	font-style:italic;
}


.mainMenu{
	/*background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    margin: 15px 10px 10px 10px;
    min-height: 20px;
    overflow: hidden;
    padding: 16px;
	float:right;*/
	float:left;
	background-color:#191919;
	height:320px;
	border:1px solid #0d0d0d;
	width:155px;
}

.mainMenu ul li {
	color:#7f7f7f;
	padding:3px;
	font-family:Myriad Pro;
	font-size:14px;
	/*font-weight:bold;*/
	border:1px solid #191919;
	padding-left:40px;
	cursor:pointer;
}

.home{
	background-image:url(../img/homeIcon.png);
	background-repeat:no-repeat;
	background-position:10px center;
}
.event{
	background-image:url(../img/eventIcon.png);
	background-position:10px center;
	background-repeat:no-repeat;
}

.discuss{
	background-image:url(../img/discussIcon.png);
	background-position:10px center;
	background-repeat:no-repeat;
}


.mainMenu ul li:hover {
	color:#ffffff;
	border:1px solid #0d0d0d;

	background-color: #2d1535; /* Old browsers */
background-color: -moz-linear-gradient(top,  #2d1535 0%, #462053 100%); /* FF3.6+ */
background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d1535), color-stop(100%,#462053)); /* Chrome,Safari4+ */
background-color: -webkit-linear-gradient(top,  #2d1535 0%,#462053 100%); /* Chrome10+,Safari5.1+ */
background-color: -o-linear-gradient(top,  #2d1535 0%,#462053 100%); /* Opera 11.10+ */
background-color: -ms-linear-gradient(top,  #2d1535 0%,#462053 100%); /* IE10+ */
background-color: linear-gradient(top,  #2d1535 0%,#462053 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1535', endColorstr='#462053',GradientType=0 ); /* IE6-9 */

}

.loadedContent{
	float:left;
	background-color:#1d1d1d;
	height:312px;
	width:410px;
	overflow:auto;
	padding:5px;
}



footer{
	width:100%;
	font-size:10px;
	text-align:center;
}
