
*{
	margin:0;
	padding:0;
}

html{
	background:url('../img/background_tile_2.jpg');
	min-height:100%;
	position:relative;
	
}

body{
	color:#fff;
	margin:0px
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

.rssFeed figure{
	background:url('../img/menuIcons.png') no-repeat scroll 0 0 transparent;
	background-position:-80px 0px;
	width:16px;
	height:16px;
	float:left;
}
.rssFeed{
	width:65px;
	display:block;
	height:16px;
	margin:auto;
	margin-top:6px;
}

.fileOption,.blue,a,a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

.fileOption:hover,a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}

.folderNameBloc{
	display:none;
}

.blackControl{
	background-color: #0F0F0F;
    border: medium none;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
    font-size: 10px;
    margin: 7px 3px 3px;
    padding: 3px;
}


.fileInput{
	position: relative;
}
.fileInputText{
	background-color: #0F0F0F;
    border: medium none;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
    font-size: 10px;
    margin: 7px 3px 3px;
    padding: 3px;
    position: relative;
    z-index: 1;
}
.fileInputButton{
	background-color: #0F0F0F;
    border: medium none;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
    font-size: 10px;
    margin: 7px 3px 3px;
    padding: 3px;
    position: relative;
    z-index: 1;
}
.fileInputFile{
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

#userCreateBloc{
	display:none;
}

.preloader{
	background:url('../img/preloader.gif') 0px 5px;
	min-width:15px;
	height:13px;
	background-repeat:no-repeat;
	opacity:0.7;
	font-size:10px;
	padding-left:20px;
	padding-top:2px;
	display:none;
	clear:both;
	margin-left:30px;
	margin-top:90px;
}

#userCreateBloc input,#userCreateBloc select,#initProgram input, #paramsBloc input, #paramsBloc select{
	width:70px;
	padding:3px;
	margin:3px;
	margin-top:7px;
	font-size:10px;
	color:#ffffff;
	background-color:#0F0F0F;
	box-shadow:0 0 2px #000;
	border:none;
}

#initProgram input[name="root"]{
	width:238px;
}

#userCreateBloc span input,#userCreateBloc span select,#paramsBloc span select,#paramsBloc span input{
	margin:0px;
}
#versionBloc{
	display:none;
	width: 500px;
	text-align:center;
	margin:auto;
	margin-bottom: 15px;
	margin-top: 75px;
	padding:5px;
	background: url("../img/background_tile_3.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    min-height: 20px;
}

#initProgram{
	background: url("../img/background_tile_3.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    min-height: 20px;
    overflow: hidden;
    padding: 10px;
    width: 610px;
	margin:auto;
	margin-bottom: 15px;
}
#usersBloc{
	background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    margin: 15px 10px 10px 10px;
    min-height: 20px;
    overflow: hidden;
    padding: 10px 10px 10px 5px;
    width: 950px;
	display:none;
}

#paramsBloc{
	background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    margin: 15px 10px 10px 10px;
    min-height: 20px;
    overflow: hidden;
    padding: 10px 10px 10px 5px;
    width: 955px;
	display:none;
	clear:both;
}

#paramsBloc li{
	clear:both;
	padding:5px;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    background-color:#161616;
    margin:5px;
    width:900px;
}

#paramsBloc li ul li{
	background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
	width:870px;
}

#initProgram h1,#usersBloc h1,#paramsBloc h1{
	color:#cecece;
	margin:0px 5px 5px 10px;
	font-size:16px;
	text-shadow:1px 2px 2px #080808
}
#initProgram p,#usersBloc h2{
	color:#ffffff;
	margin:0px 5px 5px 10px;
	font-size:10px;
	text-shadow:1px 2px 2px #080808;
	cursor:pointer;
}

#usersBloc a{
	cursor:pointer;
}

#usersBloc ul li, #initProgram ul, #paramsBloc ul li{
	list-style-type:none;
	
}
#usersBloc ul li ul , #paramsBloc ul li ul{
	clear:both;
}
#usersBloc ul li ul li, #initProgram ul li, #paramsBloc ul li{
	float:left;

	padding:3px 10px 3px 10px;
	min-height:35px;
}
#usersBloc span,#usersBloc a{
	margin-top:8px;
	display:block;
}

.breadcrumb {
	margin:10px;
}
.breadcrumb li {
	background-color:#161616;
	border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 2px;
    max-width: 430px;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
	cursor:pointer;
}
.breadcrumb li:hover {
	background-color:#1C1C1C;
}

.loginBloc{
	background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    margin: 15px 10px 10px 10px;
    min-height: 35px;
    overflow: hidden;
    padding: 10px;

    max-width: 430px;
    
	float:left;
}


.requireBloc{
	background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 10px;
    width: 550px;
    text-align:center;
}


.menuBloc{
	background: url("../img/background_tile_2.jpg") repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    margin: 15px 10px 10px 10px;
    min-height: 25px;
    overflow: hidden;
    padding: 30px 10px 20px;
	float:right;
}

.menuBloc a{
	cursor:pointer;
	width:22px;
	height:22px;
	display:block;
	float:left;
	background-repeat:no-repeat;
	margin-left:3px;
	margin-right:3px;
}


.menuBloc .newFolder{
	background:url('../img/menuIcons.png') no-repeat scroll 0 0 transparent;
	background-position:0px 0px;
	width:20px;
}
.menuBloc .member{
	background:url('../img/menuIcons.png') no-repeat scroll 0 0 transparent;
	background-position:-40px 1px;
	width:20px;
}
.menuBloc .backup{
	background:url('../img/menuIcons.png') no-repeat scroll 0 0 transparent;
	background-position:-136px 0px;
	width:20px;
}
.menuBloc .preferences{
	background:url('../img/menuIcons.png') no-repeat scroll 0 0 transparent;
	background-position:-20px 1px;
	width:20px;
}



.loginBloc form{
	padding-top:12px;
	padding-bottom:12px;
}
.loginBloc input{
	width:70px;
	padding:3px;
	margin:3px;
	margin-top:7px;
	font-size:10px;
	color:#ffffff;
	background-color:#0F0F0F;
	box-shadow:0 0 2px #000;
	border:none;
}


header{
	background:url('../img/logo.png') no-repeat center center;
	padding:10px;
	position: relative;
	height:100px;
}

header:before,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	/*box-shadow:0 2px 2px rgba(0,0,0,0.4);*/
}

.textLogin{
	float:left;
	margin-top:17px;
}

.avatar{
	padding:3px;
	background-color:#cecece;
	width:50px;
	height:50px;
	box-shadow:0 2px 2px rgba(0,0,0,0.6);
	float:left;
	margin-right:10px;
}

.avatar img{
	width:50px;
	height:50px;
}

#dropbox{
	background:url('../img/background_tile_3.jpg');
	border-radius:3px;
	position: relative;
	margin:0px auto 10px;
	min-height: 320px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 990px;
	
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

footer{
	width:100%;
	font-size:10px;
	text-align:center;
}


#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding:10px;
    display: block;
    border:2px dotted #cecece;
    width:100px;
    height:60px;
    margin:auto;
    background-color: #161616;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float:left;
}

.fileBloc .urlFile{
	font-size: 11px;
    text-align: center;
    padding:10px;
    display: block;
    width:220px;
    height:60px;
    margin:auto;
    background-color: #161616;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float:left;
    margin-left:10px;
   	background-color:#2A2A2C;
}

.fileBloc .urlFile input,.fileBloc .urlFile button{
	background-color: #0F0F0F;
    border: none;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
    font-size: 10px;
    margin: 7px 3px 3px;
    padding: 3px;
}

.fileBloc .urlFile button{
	cursor:pointer;
	width: 70px;
}

.fileBloc{
	font-size: 11px;
    text-align: center;
    padding:10px;
    display: block;
    width:380px;
    margin-top:10px;
    margin:auto;
    background-color: #161616;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset, 0 -3px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    clear:both;

}


#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

.directLink{
	background-color: #0F0F0F;
    border: medium none;
    box-shadow: 0 0 2px #000000;
    color: #FFFFFF;
    font-size: 9px;
    padding: 2px;
    display:none;
    width:165px;
    margin:auto;
}


#dropbox .preview{
	width:170px;
	min-height: 90px;
	max-height: 150px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview .deleteFile{
	float:right;
	width:12px;
	font-size:10px;
	font-weight:bold;
	padding:3px;
	background-color:#212322;
	box-shadow: 0 0 2px #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:none;
}

.folderPreviewDroppableHover{
	border-radius:5px;
 	box-shadow: 0 0 2px #000000;
 	background-color:#2A2A2C;
 }

#dropbox .imageHolder:hover ul{
	display:block;
}
#dropbox .folderHolder:hover ul{
	display:block;
}

#dropbox .imageHolder:hover  img{
	margin-left:5px;
}





#dropbox .imageHolder ul{
	float:left;
	font-size:10px;
	margin:0;
	padding:0;
	list-style-type:none;
	margin-left:5px;
	text-align:left;
	line-height:12px;
	display:none;
}

#dropbox .preview img{
	max-width: 48px;
	float:left;
	max-height:48px;
	display: block;
	margin-left: 60px;
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder,#dropbox .folderHolder{
	display: inline-block;
	position:relative;
	padding:5px;
	min-height:85px;
	cursor:pointer;
	width: 170px;
}

#dropbox .dropFolder{
	display: inline-block;
	padding-top:15px;
	height:81px;
	cursor:pointer;
	width: 170px;
	background-image:url('../img/extension/folder.png');
	background-repeat:no-repeat;
	background-position: center center;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;

}
#dropbox .dropFolder h1{
 	color: #FFFFFF;
    cursor: pointer;
    font-size: 10px;
    width:76px;
    margin: 0 5px 5px 10px;
    text-shadow: 1px 1px 1px #080808;
    text-align:center;
    clear:both;
    max-height:25px;
    overflow: hidden;
    margin-left:47px;
}
#dropbox .dropFolder ul{
	width:76px;
	margin-left:47px;
}
#dropbox .dropFolder ul li{
	list-style-type:none;
	float:left;
	margin: 2px;
	width:20px;
	height:20px;
}
#dropbox .dropFolder ul li img{
	width:20px;
	height:20px;
}

#dropbox .dropFolder:hover{
	background-color:#151516;
	box-shadow: 0 0 2px #000000;
}

#dropbox .imageHolder:hover,#dropbox .folderHolder:hover{
	background-color:#151516;
	box-shadow: 0 0 2px #000000;
}




#dropbox .imageHolder:hover  .deleteFile,#dropbox .folderHolder:hover  .deleteFile{
	display:block;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center;
	z-index:1;
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}


.addOptions{
	padding:3px;
	margin:3px;
	margin-top:7px;
	font-size:10px;
	color:#ffffff;
	display:none;
}
#dropbox .preview .addOptions li{
	float:left;
	margin: 0  5px 0  5px ;
	background-color:transparent;

	height:22px;
	width:22px;
}
#dropbox .preview .addOptions li.optionZip{
	background:url('../img/menuIcons.png') no-repeat scroll -157px 0px transparent;
	width:20px
}

#dropbox .preview .addOptions .optionShare{
	/*background: url('../img/optionShare.png') no-repeat center center rgba(255,255,255,0.5);*/
	background:url('../img/menuIcons.png') no-repeat scroll -114px 0px transparent;
	width:20px
}

#dropbox .preview .addOptions .optionEdit{
	/*background: url('../img/optionEdit.png') no-repeat center center rgba(255,255,255,0.5);*/
	background:url('../img/menuIcons.png') no-repeat scroll -177px 0px transparent;
	width:20px
}

#dropbox .preview .addOptions .optionUrl{
	/*background: url('../img/optionUrl.png') no-repeat center center rgba(255,255,255,0.5);*/
	background:url('../img/menuIcons.png') no-repeat scroll -60px 0px transparent;
	width:20px
}

#dropbox .preview .addOptions .optionDropbox{
	padding-top:15px;
	/*background: url('../img/optionDropbox.png') no-repeat center center rgba(255,255,255,0.5);*/
	background:url('../img/menuIcons.png') no-repeat scroll -96px 0px transparent;
	width:20px
}


.preview .fileNameArea{
	padding:5px;
	margin:5px;
	font-size:11px;
	color:#ffffff;
	background-color:#0F0F0F;
	box-shadow:0 0 2px #000;
	border:none;

}

.fileName{
 display: block;
    font-size: 11px;
    min-height: 15px;
    margin-top: 5px;
    overflow: hidden;
    padding-top: 5px;
    width: 170px;

}


#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	margin-left:5px;
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	position: absolute;
	height:100%;
	left:0;
	width:0;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #1AD8F4;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1AD8F4), to(#001461));
	background: -webkit-linear-gradient(#1AD8F4, #001461);
	background: -moz-linear-gradient(#1AD8F4, #001461);
	background: -ms-linear-gradient(#1AD8F4, #001461);
	background: -o-linear-gradient(#1AD8F4, #001461);
	background: linear-gradient(#1AD8F4, #001461);
	-pie-background: linear-gradient(#1AD8F4, #001461);
	behavior: url(/PIE.htc);
	
}

#dropbox .preview.done .progress{
	width:100% !important;
}

.hidden{
	display:none;
}

.fileUrl{
	display:none;
}

.clear{
	clear:both;
}

.tooltip {
	opacity:0.8;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px 8px;
	max-width:200px;
	color:#fff;
	background-color:#000;
}
.tooltip .tip-inner {
	font:bold 11px/14px 'Lucida Grande',sans-serif;
}


.tooltip .tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; 
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(../img/toolTips.gif) no-repeat;
}
.tooltip .tip-arrow-right {
	margin-top:-4px; 
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(../img/toolTips.gif) no-repeat -9px 0;
}
.tooltip .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; 
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(../img/toolTips.gif) no-repeat -18px 0;
}
.tooltip .tip-arrow-left {
	margin-top:-4px; 
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(../img/toolTips.gif) no-repeat -27px 0;
}

body >div.popwrap{position:fixed;padding:10px}.top-right{top:0;right:0}.popup{width:200px;min-height:50px;-moz-border-radius:7px;-webkit-border-radius:7px;background-color:#161616;padding:3px 5px 10px 10px;display:block;margin-bottom:5px}.close{float:right;cursor:pointer;color:#EFEFEF;font:bold 12px Tahoma,Arial,Helvetica,sans-serif}.poptext{clear:both;font:12px Lucida Grande,Lucida Sans Unicode,Geneva,Verdana,sans-serif;word-wrap:break-word;color:#FEFEFE;line-height:120%}